.body{
  background-color: purple;
  color: #fff;
}


  #text1,
  #text2,
  #text3,
  #text4,
  #text5{
    width: 250px;
    height: 40px;
  }

.totalmarks,
.percentage,
.grade{
  width: 250px;
    height: 40px; 
}



